.full-page.pricing-page, .full-page.login-page, .full-page.lock-page, .full-page.register-page{
    background: linear-gradient(#1e1e24, #1e1e24);
}

.border {
    border: 0.2rem solid #00f2c3 !important;
}

.card-confirm-account {
    margin-top: 30%;
}