<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="card card-confirm-account card-black border">
          <div class="card-header">
            <h1 class="card-title text-center text-success">LemonBooster</h1>
          </div>
          <div class="card-body">
            <button
              class="btn btn-success btn-lg btn-block animation-on-hover mb-3"
              type="submit"
              (click)="confirmAccount()"
            >
              Confirm Account
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
