<div class="row mt-3 animate__animated animate__fadeIn" *ngIf="!!program">
  <div class="col-md-6 ml-auto mr-auto">
    <div class="card border">
      <ngx-loading
        [show]="executing"
        [config]="{
          backdropBorderRadius: '3px',
          primaryColour: '#00f2c3',
          secondaryColour: '#00f2c3',
          tertiaryColour: '#00f2c3'
        }"
      ></ngx-loading>
      <div class="card-header">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-4">
                <button
                  class="btn btn-danger btn-sm btn-simple"
                  [routerLink]="['/programs/list']"
                >
                  <i class="fas fa-arrow-left"></i>
                </button>
              </div>
              <div class="col-sm-4">
                <h4 class="text-center text-success font-weight-bold">
                  {{ program.Name }}
                </h4>
              </div>
              <div class="col-sm-4">
                <button
                  class="btn btn-success btn-sm btn-simple float-lg-right"
                  [routerLink]="['/programs', program.Url, 'edit']"
                >
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="table-full-width">
              <table class="table">
                <tbody>
                  <tr *ngFor="let scope of program.Scopes">
                    <td>
                      <p>{{ scope }}</p>
                    </td>
                    <td class="td-actions text-right">
                      <button
                        class="btn btn-success btn-simple btn-sm btn-icon"
                        tooltip="One-Click Recon"
                        (click)="executeCompleteScan(scope)"
                      >
                        <i class="fas fa-play"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer animate__animated animate__fadeIn">
        <div class="row">
          <div class="col-md-6">
            <div class="button-group">
              <!-- <button class="btn btn-success btn-sm btn-simple" (click)="open(1)" >Seeds</button> -->
              <button
                class="btn btn-success btn-sm btn-simple mr-2"
                (click)="open(2)"
              >
                Enumeration
              </button>
              <button
                class="btn btn-success btn-sm btn-simple"
                (click)="open(3)"
              >
                Discovery
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <button
              class="btn btn-danger btn-sm btn-simple pull-right"
              (click)="open(4)"
            >
              Monitoring
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3 animate__animated animate__fadeIn" *ngIf="!!error">
  <div class="col-md-4 ml-auto mr-auto text-center">
    <div class="card">
      <div class="card-body border-danger">
        <h3 class="font-weight-bold text-danger">
          {{ error }}
        </h3>
      </div>
    </div>
  </div>
</div>
<app-seeds
  *ngIf="(_openSeeds && !executing)"
></app-seeds>
<app-enumeration *ngIf="_openEnum && !executing"></app-enumeration>
<app-discovery *ngIf="_openDiscovery && !executing"></app-discovery>
<app-monitoring *ngIf="_openMonitoring && !executing"></app-monitoring>
