
<div class="card border animate__animated animate__fadeIn">
    <ngx-loading [show]="executing" [config]="{ backdropBorderRadius: '3px', primaryColour: '#00f2c3', secondaryColour: '#00f2c3', tertiaryColour: '#00f2c3'}"></ngx-loading>
      <div class="card-header">
          <div class="row">
            <div class="col-md-9">
              <h4>Screenshots</h4>
            </div>
          </div>
  
      </div>
  
      <div class="card-body" >
        <div class=" table-full-width" *ngIf="!!program && !executing">
          <table class=" table">
            <thead class=" text-primary">
              <tr>
                <th>ALIVE SUBDOMAINS OF</th>
                <th class=" text-right">ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let scope of program.Scopes" >
                <td>
                    {{scope}}
                </td>
                <td class=" text-right">
                  <div class="button-group">
                      <button
                      class=" btn btn-warning btn-simple btn-sm btn-icon mr-1"
                      tooltip="Screenshots"
                      type="button"
                      (click)="getScreenshots(scope)"
                      >
                        <i class="fas fa-eye"></i>
                      </button>
                      <button
                      class=" btn btn-success btn-simple btn-sm btn-icon"
                      tooltip="Execute"
                      type="button"
                      (click)="executeScreenshots(scope)"
                    >
                        <i class="fas fa-play"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>