<div class="row animate__animated animate__fadeIn">
    <div class="col-md-3">
        <div class="card border">
            <div class="card-body">
                <div class="row animate__animated animate__fadeIn">
                    <div class="col-md-12">
                        <button class="btn btn-success btn-sm btn-simple btn-block" (click)="open(1)">
                            Subdomains
                        </button>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-success btn-sm btn-simple btn-block" (click)="open(2)">
                            Alive
                        </button>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-success btn-sm btn-simple btn-block" (click)="open(3)">
                            Response Codes
                        </button>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-success btn-sm btn-simple btn-block" (click)="open(4)">
                            Screenshot
                        </button>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-success btn-sm btn-simple btn-block" (click)="open(5)">
                            JS Scanner
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 animate__animated animate__fadeIn">
        <app-subdomains *ngIf="_subdomains && !executing"></app-subdomains>
        <app-alive *ngIf="_alive !executing"></app-alive>
        <app-response-codes *ngIf="_responseCodes !executing"></app-response-codes>
        <app-screenshots *ngIf="_screenshots !executing"></app-screenshots>
        <app-jsscanner *ngIf="_jsscanner !executing"></app-jsscanner>
    </div>
</div>