<div class="full-page login-page animate__animated animate__fadeIn">
    <div class=" content">
      <div class=" container">
        <div class=" col-lg-4 col-md-6 ml-auto mr-auto animate__animated animate__fadeIn">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class=" form">
            <h1 class="text-center text-success ">Welcome Hacker</h1>
            <div class=" card card-login card-black border">
              <div class=" card-header">
                <img alt="" src="assets/img/card-success.png" />
  
                <h1 class=" card-title">Log in</h1>
              </div>
              <div class=" card-body">
                <div
                  class=" input-group"
                  [ngClass]="{ 'input-group-focus': focus === true }"
                >
                  <div class=" input-group-prepend">
                    <div class=" input-group-text">
                      <i class=" tim-icons icon-email-85"> </i>
                    </div>
                  </div>
                  <input
                    class=" form-control"
                    placeholder="Email"
                    type="text"
                    (blur)="focus = false"
                    (focus)="focus = true"
                    formControlName="email"
                    [class.is-invalid]="(f.email.invalid) && (f.email.dirty || f.email.touched)"
                    [class.is-valid]="(!f.email.invalid) && (f.email.dirty || f.email.touched)"
                  />
                  <div class="invalid-feedback  animate__animated animate__fadeIn">* Please enter a valid email address.</div>
                </div>
                <div
                  class=" input-group"
                  [ngClass]="{ 'input-group-focus': focus1 === true }"
                >
                  <div class=" input-group-prepend">
                    <div class=" input-group-text">
                      <i class=" tim-icons icon-lock-circle"> </i>
                    </div>
                  </div>
                  <input
                    class=" form-control"
                    placeholder="Password"
                    type="password"
                    (blur)="focus1 = false"
                    (focus)="focus1 = true"
                    formControlName="password"
                    [class.is-invalid]="(f.password.invalid) && (f.password.dirty || f.password.touched)"
                    [class.is-valid]="(!f.password.invalid) && (f.password.dirty || f.password.touched)"
                  />
                  <div class="invalid-feedback  animate__animated animate__fadeIn">* Password must be contains more than 6 characters.</div>
                </div>
              </div>
              <div class=" card-footer">
                <button 
                  [disabled]="loginForm.invalid"
                  class="btn btn-success btn-lg btn-block animation-on-hover mb-3" type="submit">
                  Login
                </button>
                <div class=" pull-left">
                  <h6>
                    <a class=" link footer-link" [routerLink]="['/register']" routerLinkActive="router-link-active"  href="javascript:void(0)">
                      Create Account
                    </a>
                  </h6>
                </div>
                <div class=" pull-right">
                  <h6>
                    <a class=" link footer-link" [routerLink]="['/forgot-password']" routerLinkActive="router-link-active"  href="javascript:void(0)">
                      Forgot Password
                    </a>
                  </h6>
                </div>
              </div>
            </div>
          </form>

          <h5 class="text-center text-danger">We are still in beta, soon we will go hunting together...</h5>

        </div>
      </div>
    </div>
  </div>
  