<div class="row animate__animated animate__fadeIn">
    <div class="col-lg-6">
        <div class=" card border">
            <div class=" card-header">
                <div class="row">
                    <div class="col-md-9">
                        <p class=" category">
                            Edit your BugBounty Program
                        </p>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger btn-sm btn-simple pull-right" [routerLink]="['/programs/list']"><i class="fas fa-arrow-left"></i></button>
                    </div>
                </div>
            </div>
            <div class=" card-body">
                <form [formGroup]="form" (ngSubmit)="editProgram()">
                    <div class=" row">
                        <div class=" col-md-12">
                            <div class=" form-group">
                            <label for="program"> Program: &nbsp;&nbsp;&nbsp;<span style="color: rgb(241, 66, 66);">*</span></label>
                            <input
                                formControlName="Name"
                                class=" form-control"
                                placeholder="Program Name"
                                type="text"
                                required
                            />
                            </div>
                        </div>
                        <div class=" col-md-12">
                            <div class=" form-group">
                            <label for="scope"> Scope:  &nbsp;<span> [Separated by Comma]</span> </label>
                            <textarea
                                formControlName="Scopes"
                                class=" form-control"
                                type="text"
                                placeholder=""
                            >
                            </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <button class="btn btn-success btn-sm btn-simple btn-block" type="submit" [disabled]="form.invalid">Edit Program</button> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
          
    </div>
</div>

