<div class="row animate__animated animate__fadeIn">
    <div class="col-md-3">
        <div class="card border">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-success btn-sm btn-simple btn-block" (click)="open(1)">
                            Waybackurls
                        </button>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-success btn-sm btn-simple btn-block" (click)="open(2)">
                            Spidering
                        </button>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-success btn-sm btn-simple btn-block" (click)="open(3)">
                            Dir. Bruteforce
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <app-waybackurls *ngIf="_waybackurls !executing"></app-waybackurls>
        <app-spider *ngIf="_spider !executing"></app-spider>
        <app-directory-bruteforce *ngIf="_directoryBruteforce !executing"></app-directory-bruteforce>
    </div>
</div>